.wrap {
	display: flex;
	align-items: flex-end;
	padding: 20px 20px 0 20px;
	border-bottom: 1px solid #ccc;
	background-color: #eee;

	@width: 80px;

	.music-logo {
		width: @width;
		height: @width;
	}

	.music-desc {
		font-size: 50px;
		margin-left: 30px;
	}
}