.wrap {
	padding: 80px;

	.music-repo {
		& > a {
			text-decoration: none;
			color: #7B9604;
		}
	}

	.ctx {
		display: flex;
		align-items: center;
		// background-color: #f6f6f6;
		// width: 800px;

		.progress {
			display: flex;
			margin-right: 20px;

			.time {
				margin-left: 10px;
				font-size: 14px;
				color: #888;

				& > span {
					display: inline-block;
					width: 40px;
				}
			}
		}

		.volume {
			display: flex;

			& > img {
				width: 20px;
				height: 20px;
			}
		}
		
	}

	.desc {
		margin: 20px 0;
		.music-name {
			font-size: 20px;
			font-weight: bolder;
			margin-right: 10px;
		}

		.music-author {
			font-size: 14px;
			color: #8f8f8f;
		}
	}

	.control {
		margin-top: 20px;
		& > img:not(:first-child) {
			margin-left: 16px;
		}
	}
}